<div class="col-lg-9 col-md-8">
  <div class="row pb-3 pr-5"  >
    <div class="col-12 pb-1">
      <div class="d-flex align-items-center justify-content-between mb-4">
        <div>
          <a href="./add-shop" class="btn btn-sm btn-light bg-primary text-white">Thêm sản phẩm</a>
        </div>
        <div class="ml-2">
          <div class="btn-group">
            <button
              type="button"
              class="btn btn-sm btn-light dropdown-toggle"
              data-toggle="dropdown"
            >Sắp xếp</button>
            <div class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item" href="#">Mới Nhất</a>
              <a class="dropdown-item" href="#">Thịnh Hành</a>
              <a class="dropdown-item" href="#">Lươt Đánh Giá</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    {{#each products}}
    <div class="col-lg-4 col-md-6 col-sm-6 pb-1">
      <div class="product-item bg-light mb-4">
        <div class="product-img position-relative overflow-hidden">
          <img class="img-fluid w-100" src="{{this.link}}" alt=""/>
          <div class="product-action">
            <a class="btn btn-outline-dark bg-important text-white" href="">Xóa</a>
            <a class="btn btn-outline-dark bg-safe text-white" href="">Chinrh sửa</a>
          </div>
        </div>
        <div class="text-center py-4">
          <a class="h6 text-decoration-none text-truncate hide-content-1" href="">{{this.product}}</a>
          <div class="d-flex align-items-center justify-content-center mt-2">
            <h5>{{this.price}}</h5>
          </div>
        </div>
      </div>
    </div>
    {{else}}
    <div class="col-lg-4 col-md-6 col-sm-6 pb-1">
      <h5>Bạn chưa đăng sản phẩm nào</h5>
    </div>
    {{/each}}

  </div>
</div>
<!-- Shop Product End -->