<!-- Myshop Start -->
<!-- Shop Product Start -->
<div class="col-lg-9 col-md-12">
    <div class="row pb-3 bg-white p-2" style="display: block; text-align: right">
        <a href="/productAction.html"><button class="btn btn-primary font-weight-bold py-2">Thêm sản phẩm</button></a>
        <div class="bg-secondary rounded mb-4 w-full" style="margin-top: 7px">

            <table class="table order-table text-center mb-0">
                <tbody class="align-middle">
                    <tr>
                        <th>#Ngày đặt hàng - Ngày kết thúc</th>
                        <th></th>
                        <th></th>
                        <th>
                            <button class="btn btn-sm btn-danger"><i class="fas fa-pencil-ruler"></i></button>
                            <button class="btn btn-sm btn-danger"><i class="fa fa-times"></i></button>
                        </th>
                    </tr>
                    <tr>
                        <td class="align-middle text-left max-w-xl" style="display: flex;">
                            <img src="../img/logo.png" alt="" class="mr-3" style="width: 7.2rem;">
                            <a href="shop/" class="p-1 hide-content-1 m-0 text-lg font-bold">
                                <span class="hide-content-1" style="font-size: 1.4rem;">Tên sản phẩm</span>
                                <span class="hide-content-2 text-base font-normal">Mô tả</span>
                                <span class="hide-content-2 text-base font-normal">Số lượng còn: 1</span>
                            </a>
                        </td>
                        <td class="align-middle"></td>
                        <td class="align-middle"></td>
                        <td class="align-middle">Giá 233.334$</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td class="text-primary text-xl font-semibold"></td>
                        <td>
                            Đang trong phiên đấu giá
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Shop Product End -->
<!-- Myshop End -->